/************************************ABOUT******************************/
*{padding:0;
margin:0;}
body{ font-family: 'Open Sans',arial;}
.about{padding:30px 150px;
overflow: auto;
background-color: #f8f8f8;
color: #303030;}
.about a{color: #303030;
padding:0 5px;
text-decoration: none;}
.about h3{float:left;
font-size: 25px;
font-weight: 100}
.about p{float:right;}
.meeting{padding:100px 150px;
text-align: center;}
.meeting h1{padding:30px 0;
color: #303030;
font-weight: 100;}
.meeting p{padding:10px 0;
line-height: 40px;
width:60%;
margin: auto;
font-size: 20px;
color: #888;}
.meeting img{padding:30px 0;
border-radius: 10px;
border-radius: 30px;}
/**********************************************************team*************************************/
.team{padding:100px 150px;
background: #f8f8f8;
overflow: auto;}
.member{width:31.333%;
float: left;}
.info{padding:10px 20px;}
.member img{width:100%;}
.team h2{text-align: center;
padding:20px 0;
color: #303030;
font-size: 35px;
font-weight: 100;}
.team p{text-align: center;
padding:20px 0;
color: #888;
font-size: 20px;}
.member{background-color: #fff;
margin: 0 10px;}
.member p{text-align: left;}
.member i{font-style: normal;
padding:10px 0;
font-size: 15px;
color: #999;}
.member p{color: #868686;
font-size: 14px;
line-height: 30px;}
/*******************************************************VALUES*****************************/
.merites{padding:100px 150px;
overflow: auto;}
.merites h2,p{padding:15px 0;}
.merites h2{font-size: 30px;
font-weight: 100;}
.merites .merit{width:31.333%;
line-height: 30px;
float: left;
padding:10px;}
.merites h2,p{text-align: center;
color:#303030;}
.merit p{text-align: left;
color: #868686;}
/******************************************change************************/
.change{text-align: center;
background-image:url(../images/full-2.jpg);
background-size: 100% 100%;
}
.change .overlay{background:#4caf50;
color: #ffff;
padding:70px 150px;
opacity: .9;}
.change h2{font-size: 40px;
font-weight: 100;}
.change p{color: #fff;}
.change button{border-radius: 4px;
padding:20px 35px;
color: #fff;
border:2px solid #fff;
background-color: transparent;
margin-top:25px;}
.footer{padding:60px 150px;
font-size: 14px;
line-height: 22px;
background: #1f2021;
overflow: auto;}
.footer h4{color:#fff;}
.sec1,.sec2,.sec3,.sec4{float:left;}
.footer p,.footer ul{color: #58606b;}
.sec1{width:20%;
      padding:0}
.sec2{width:20%;
     padding:0 100px;}
.sec3{width:10%;}
.sec4{width:15%;
padding:0 100px;}
.sec2 ul,.sec3 ul,.sec4 ul{padding:10px 0;
list-style-type: none}
.sec1 p{text-align: left;}
.footer-bottom{
  padding:10px 150px;
  background: #151515;}
  .footer-bottom p{
    font-size: 14px;
  text-align: left;
}
